<div class="comment-section">
  <% object.comments.each do |c| %>
    <p class="comment_text"><%= c.content %></p>

    <div class="row">
      <div class="col-md-9">
        <p class="the-user">    
          By <%= link_to user_path(c.user), class: "user-name" do %>
            <%= c.user.full_name %>
          <%end%> | 
          Commented <%= distance_of_time_in_words(c.created_at, Time.now) %> ago
        </p>
      </div>
      <div class="col-md-3">
        <p class="delete_comment">
          <% if current_user.id == c.user_id %>
            <%= link_to comment_path(c), method: :delete, data: { confirm: "You sure?" } do %>
              <i class="fa fa-trash hover-red"></i>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>