<div class="container-fluid article">
  <div class="row">

    <div class="col-md-2">
      <% if object.user.image %>
        <%= image_tag(object.user.image.url, class: "img-profile")%>
      <%end%>
      <p> 
        <%= link_to user_path(object.user), class: "user-full-name" do%>
          <%= object.user.full_name %>
        <%end%>
      </p>
    </div>

    <div class="col-md-10">
      <% unless object.image.empty? %>
        <div class="article-post">
          <p class="image-article-title"><%= image_tag(object.image, class: "article-fill img-bg-fix")%></p>
          <h2 class="article-title"><%= object.title %></h2>
          <p><%= object.content %></p>
          <p><strong>Category: </strong><%= object.category_id %></p>
          <p><small>Posted <%= distance_of_time_in_words(object.created_at, Time.now) %> ago</small></p>
        </div>
      <% else %>
        <div class="article-post">
          <h2 class="article-title"><%= object.title %></h2>
          <p><%= object.content %></p>
          <p><small>Posted <%= distance_of_time_in_words(object.created_at, Time.now) %> ago</small></p>
        </div>
      <% end %>

      <div class="row">
        <div class="user-actions">
          <% if current_user.id == object.user_id %>
            <%= link_to article_path(object), method: :delete, data: { confirm: "You sure?" } do %>
              <i class="fa fa-trash hover-red"> Delete Article</i>
            <% end %>
          <% end %>
        </div>
      </div>

      <hr>
        <div class="row">
          <div class="col-md-12">
            <%= render 'votes/vote_articles', object: object%>
          </div>
        </div>
      <hr>

      <div class="row">
        <div class="col-md-12">
          <h3 class="comments-title">Comments</h3>
          <%= render 'comments/comment', object: object %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= render 'comments/form', object: object %>
        </div>
      </div>
    </div>

  </div>
</div>