<%= form_for(@article) do |f| %>
  <%= render "devise/shared/error_messages", resource: @article %>

  <%= f.label :title %>
  <%= f.text_field :title, size: "10x1", class: "form-control" %><br/>

  <%= f.label :content %>
  <%= f.text_area :content, size: "10x10", class: "form-control" %><br/>

  <%= f.label :ImageURL %><br />
  <p>Allow an image in your article by entering a link to the image</p>
  <%= f.text_field :image, placeholder: "http://placekitten.com/1217/400", class:"form-control" %><br/>

  <%= f.label :category_id %><br />
  <%= f.select(:category_id, options_for_select(Category.all.map {|c| [c.category, c.id]}), {}, {class: "form-control"}) %><br/>

  <%= f.submit("Submit Article", class: "btn btn-primary" ) %>
<% end %>