<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul>
        <% category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :category %>
  <%= form.text_field :category, class: "form-control" %> <br/>

  <%= form.label :priority %>
  <%= form.select(:priority, options_for_select(['Low', 'Moderate', 'High']), {}, {class: "form-control"}) %> <br/>

  <%= form.submit("Submit Category", class: "btn btn-primary" ) %>        
<% end %>
