<nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-dark main-nav">
    <div class="container-fluid">
        <div class="navbar-collapse collapse nav-content order-2">
            <ul class="nav navbar-nav">
                <%= link_to 'LIFESTYLE', root_path, class: 'nav-link logo' %>
            </ul>
        </div>
        <ul class="nav navbar-nav text-nowrap flex-row mx-md-auto order-1 order-md-2">
          <li class="nav-item">
            <%= link_to 'HOME', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'FASHION', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'BUSINESS', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'SPORTS', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ENTERTAINMENT', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'MAGAZINE', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'TV', root_path, class: 'nav-link' %>
          </li>
        </ul>
        <div class="ml-auto navbar-collapse collapse nav-content order-3 order-md-3">
            <ul class="ml-auto nav navbar-nav">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= button_to saw_notice_path, :class => "text-white btn notice-btn-#{notification_seen}",
                  data: {toggle: 'modal', target: '#noticeModal'}, method: :get, remote: true do %>
                  <% if notification_seen %>
                    <i class="fa fa-bell-slash"></i>
                    <% else %>
                    <i class="fa fa-bell"></i>
                    <% end %>
                  <% end %>
                </li>
                <li class="nav-item dropdown">
                  <a id= "navbarDropdown" class="nav-link dropdown-toggle font-raleway" 
                      href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories <b class="caret"></b>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to "Create Category", new_category_path, class: "dropdown-item font-raleway" %>
                    <%= link_to "All Categories", categories_path, class: "dropdown-item font-raleway" %>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a id= "navbarDropdown" class="nav-link dropdown-toggle font-raleway" 
                      href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Articles <b class="caret"></b>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to "Create Article", new_article_path, class: "dropdown-item font-raleway" %>
                    <%= link_to "View Articles", articles_path, class: "dropdown-item font-raleway" %>
                  </div>
                </li>                                  
                <li class="nav-item dropdown">
                    <a id= "navbarDropdown" class="nav-link dropdown-toggle font-raleway" 
                        href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      My Account <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <%= link_to "My Profile", user_path(current_user), class: "dropdown-item font-raleway" %>
                      <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item font-raleway", method: :delete %>
                    </div>
                  </li>
                  <% else %>
                    <%= link_to 'LOGIN', new_user_session_path, class: 'nav-link' %>
                    <%= link_to 'REGISTER', new_user_registration_path, class: 'nav-link' %>
                <% end %>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-search"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<% if user_signed_in? %>
  <%= render 'shared/notifications', object: current_user.notifications%>
<%end%>