<nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-dark main-nav">
    <div class="container-fluid">
        <div class="navbar-collapse collapse nav-content order-2">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FASHION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ENTERTAINMENT</a>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav text-nowrap flex-row mx-md-auto order-1 order-md-2">
            <%= link_to 'LIFESTYLE', root_path, class: 'nav-link' %>
            <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target=".nav-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </ul>
        <div class="ml-auto navbar-collapse collapse nav-content order-3 order-md-3">
            <ul class="ml-auto nav navbar-nav">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= button_to saw_notice_path, :class => "text-white btn notice-btn-#{notification_seen}",
                  data: {toggle: 'modal', target: '#noticeModal'}, method: :get, remote: true do %>
                  <% if notification_seen %>
                    <i class="fa fa-bell-slash"></i>
                    <% else %>
                    <i class="fa fa-bell"></i>
                    <% end %>
                  <% end %>
                </li>    
                <li class="nav-item dropdown">
                    <a id= "navbarDropdown" class="nav-link dropdown-toggle font-raleway" 
                        href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Account <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <%= link_to "My Profile", user_path(current_user), class: "dropdown-item font-raleway" %>
                      <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item font-raleway", method: :delete %>
                    </div>
                  </li>
                  <% else %>
                    <%= link_to 'LOGIN', new_user_session_path, class: 'nav-link' %>
                    <%= link_to 'REGISTER', new_user_registration_path, class: 'nav-link' %>
                <% end %> 
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-search"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<% if user_signed_in? %>
  <%= render 'shared/notifications', object: current_user.notifications%>
<%end%>